<h1>待審核事項</h1>
<div class="panel panel-default">
    <div class="panel-heading">待審核事項 <span class="label label-pill label-danger">12</span></div>
    <div class="panel-body">
        <ul class="list-group col-md-6">
          <li class="list-group-item">關鍵風險指標停用審核 （共 1 件）</li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">代辦事項 <span class="label label-pill label-danger">1231</span></div>
    <div class="panel-body">
        <ul class="list-group col-md-6">
          <li class="list-group-item">初次填報登入 （共 1 件）</li>
          <li class="list-group-item">後續填報登入 （共 1 件）</li>
          <li class="list-group-item">同一事件合併 （共 1 件）</li>
          <li class="list-group-item">損失事件登入 （共 1 件）</li>
          <li class="list-group-item">累積型警示事件登入 （共 1 件）</li>
          <li class="list-group-item">損失事件狀態更變 （共 1 件）</li>
          <li class="list-group-item">自評計畫訂定 （共 1 件）</li>
          <li class="list-group-item">自評報告書啟用 （共 1 件）</li>
          <li class="list-group-item">報告書範本訂定 （共 1 件）</li>
          <li class="list-group-item">自評單位填報 （共 1 件）</li>
          <li class="list-group-item">指標訂定 （共 1 件）</li>
          <li class="list-group-item">指標填報 （共 1 件）</li>
          <li class="list-group-item">限額修改 （共 1 件）</li>
        </ul>
    </div>
</div>
