<div class="form-group">
    <label>{{title}}</label>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Checkbox 1
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Checkbox 2
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Checkbox 3
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Checkbox 4
        </label>
    </div>
</div>
