<div class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body">
        <form role="form" method="post">
            {{body}}
            <input type="submit" class="btn btn-primary" value="送出"/>
        </form>
    </div>
</div>
