<div class="form-group col-md-{{width}}">
    <label>{{title}}</label>
    <table class="table">
        <thead>
            <tr>
                <th>title1</th>
                <th>title2</th>
                <th>title3</th>
                <th>title4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    body1
                </td>
                <td>
                    body2
                </td>
                <td>
                    body3
                </td>
                <td>
                    body4
                </td>
            </tr>
        </tbody>
    </table>
</div>
